In [10]:
import pandas as pd

sales_df = pd.read_csv('advertising_and_sales_clean.csv')
sales_df.head()

        tv     radio  social_media influencer      sales
0  16000.0   6566.23       2907.98       Mega   54732.76
1  13000.0   9237.76       2409.57       Mega   46677.90
2  41000.0  15886.45       2913.41       Mega  150177.83
3  83000.0  30020.03       6922.30       Mega  298246.34
4  15000.0   8437.41       1406.00      Micro   56594.18

In [ ]:
map = {}
index = 0
for influcer_type in sales_df['influencer'].unique():
    print(influcer_type)
    map[influcer_type] = index
    index += 1
map

Mega
Micro
Nano
Macro

{'Mega': 0, 'Micro': 1, 'Nano': 2, 'Macro': 3}

In [20]:



# Map the channel to a channel code
sales_df['influencer_number'] = sales_df['influencer'].map(map)

In [21]:
sales_df

           tv     radio  social_media influencer      sales  influencer_number
0     16000.0   6566.23       2907.98       Mega   54732.76                  0
1     13000.0   9237.76       2409.57       Mega   46677.90                  0
2     41000.0  15886.45       2913.41       Mega  150177.83                  0
3     83000.0  30020.03       6922.30       Mega  298246.34                  0
4     15000.0   8437.41       1406.00      Micro   56594.18                  1
...       ...       ...           ...        ...        ...                ...
4541  26000.0   4472.36        717.09      Micro   94685.87                  1
4542  71000.0  20610.69       6545.57       Nano  249101.92                  2
4543  44000.0  19800.07       5096.19      Micro  163631.46                  1
4544  71000.0  17534.64       1940.87      Macro  253610.41                  3
4545  42000.0  15966.69       5046.55      Micro  148202.41                  1

[4546 rows x 6 columns]

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Create X and y arrays
X = sales_df.drop(["sales","influencer"], axis=1).values  # Remove a coluna 'sales' para obter as features
y = sales_df["sales"].values  # A coluna 'sales' é o target

# Dividir os dados em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Instanciar o modelo
reg = LinearRegression()

# Ajustar o modelo aos dados de treino
reg.fit(X_train, y_train)

# Fazer previsões com os dados de teste
y_pred = reg.predict(X_test)

# Exibir previsões e valores reais
print("Predictions: {}, Actual Values: {}".format(y_pred[:2], y_test[:2]))

Predictions: [53182.22588522 71015.29166105], Actual Values: [55261.28 67574.9 ]

In [24]:
# Import mean_squared_error
from sklearn.metrics import mean_squared_error
import numpy as np

# Compute R-squared
r_squared = reg.score(X_test, y_test)

# Compute RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred ))

# Print the metrics
print("R^2: {}".format(r_squared))
print("RMSE: {}".format(rmse))

R^2: 0.9990151175116474
RMSE: 2944.572173804067